<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204412051515-kno90lpomtbrctacm5broq8mo3l5e6bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204412051515-kno90lpomtbrctacm5broq8mo3l5e6bu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204412051515-2o5a1i7hbh1brbbpem5q5665qg3c02e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaE38zOcJicIzzNvz9LJPmuGj1U-njCqI</string>
	<key>GCM_SENDER_ID</key>
	<string>204412051515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaysinsight.basic</string>
	<key>PROJECT_ID</key>
	<string>fir-log-72289</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-log-72289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204412051515:ios:fcdb1d0782465ab89ffc1e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-log-72289-default-rtdb.firebaseio.com</string>
</dict>
</plist>